# dependencies
node_modules

# next build
.next
.next.backup*

# environment
.env
.env.local
.env.*.local

# uploads (images)
public/uploads

# temp / tests
.tmp-tests
*.swp
*.swo
*~

# typescript
tsconfig.tsbuildinfo

# build folders
dist
build
*.tsbuildinfo
